﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlogArtProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>


        <nav class="navbar navbar-light navbar-expand-md bg-light justify-content-center">
            <div class="container">

                <a href="/" class="navbar-brand mr-0">
                    LOGO
                </a>
                <button class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
                    <ul class="navbar-nav mx-auto text-center">


                        @*<li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="graphic">GRAPHIC</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="lettering">LETTERING</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="mural">MURAL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="photography">PHOTOGRAPHY</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="about">ABOUT</a>
                        </li>*@

                    </ul>
                    @*<ul class="nav navbar-nav flex-row justify-content-center flex-nowrap">
                        <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/Blogartproject/"><i class="fa fa-instagram mr-1"></i></a> </li>
                        <li class="nav-item"><a class="nav-link" href="https://www.behance.net/arzucalisir"><i class="fa fa-behance mr-1"></i></a> </li>
                        <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/Blogartproject"><i class="fa fa-facebook"></i></a> </li>
                    </ul>*@
                </div>

            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year -
            @*<a asp-area="" asp-controller="Home" asp-action="Index">BlogARTPROJECT</a>

            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>

            <a asp-area="" asp-controller="Home" asp-action="graphic">Graphic</a>

            <a asp-area="" asp-controller="Home" asp-action="lettering">Lettering</a>

            <a asp-area="" asp-controller="Home" asp-action="mural">Mural</a>

            <a asp-area="" asp-controller="Home" asp-action="photography">Photography</a>

            <a asp-area="" asp-controller="Home" asp-action="about">About</a>*@



          @*<a href="https://www.instagram.com/Blogartproject/"><i class="fa fa-instagram mr-1"></i></a>  
          <a href="https://www.behance.net/arzucalisir"><i class="fa fa-behance mr-1"></i></a>  
          <a href="https://www.facebook.com/Blogartproject"><i class="fa fa-facebook"></i></a>*@

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <!-- Modal -->
    <div class="modal fade" id="gallerymodal" tabindex="-1" role="dialog" aria-labelledby="gallerymodallabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="" id="modal-img" />
                </div>
            </div>
        </div>
    </div>

</body>
</html>
