﻿@{
    ViewData["Title"] = "About BlogArtProject";
}

<h1 class="text-center mb-5 mt-5">@ViewData["Title"]</h1>

<p>
    My name is Arzu,
    I am a graphic designer with more than 9 years of experience in various of the design. I have worked with some creative advertising agencies and companies. I usually work as graphic designer who loves packaging design, typography, illustration, branding & identity.
    I'm art based designer and I have been drawing for more than 15 years.

    At the same time I specialize in hand lettering with usually using Blog. I also interested in mural and photography.
    
    
</p>

<div class="social-links text-center">
    <a href="https://www.instagram.com/Blogartproject/"><i class="fa fa-instagram mr-1"></i></a>
    <a href="https://www.behance.net/arzucalisir"><i class="fa fa-behance mr-1"></i></a>
    <a href="https://www.facebook.com/Blogartproject"><i class="fa fa-facebook"></i></a>
</div>