﻿@model imagedetail
@{
    ViewData["Title"] = "imageDetail";
}

@if (Model != null && Model.title != null)
{
    <div class="row mt-3" id="details">
        <div class="col-md-3">

            <h1> @Model.title</h1>

            @if (!String.IsNullOrWhiteSpace(Model.client))
            {
                <p>Client : @Model.client</p>
            }
            <p>Date : @Model.date</p>
            <p class="summary">@Model.summary</p>
            @if (!String.IsNullOrWhiteSpace(Model.link))
            {
                <a class="link" href="@Model.link">@Model.link</a>
            }

        </div>
        <div class="col-md-4" id="detail-img">
            <img src="@Model.img" alt="@Model.title" />
        </div>
    </div>

}
else if (Model.img != null)
{
    <img class="mt-3 w-100" src="@Model.img" alt="@Model.title" />
}
else
{
    <h1>sorry, image not found</h1>

}
