﻿@{
    ViewData["Title"] = "BlogARTPROJECT, Blog Lettering, Graphic Design, Photography, Murals";

    var images = ViewData["banners"] as List<string> ?? new List<string>();

}

<p class="text-center mt-5">
    WELCOME
</p>