﻿@{ var images = ViewData["images"] as List<string> ?? new List<string>();

    ViewData["Title"] = "Murals";
}
<h1 class="text-center mb-5 mt-5">@ViewData["Title"]</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In hendrerit pulvinar ex non laoreet. Quisque justo sapien, egestas a rutrum a, lobortis at orci. Integer in enim at est lobortis malesuada ac et odio. Phasellus vehicula dolor ac finibus sodales. Sed est nulla, fermentum quis volutpat a, dapibus et tortor. Curabitur vulputate iaculis lectus, ac finibus nisl dignissim et. Suspendisse ullamcorper fringilla ultricies. Curabitur in interdum tortor, id dictum sapien. Proin vel elit sed felis hendrerit pellentesque. Etiam sed lobortis nulla. Duis suscipit diam nec mauris lacinia ullamcorper. Pellentesque dapibus dolor in lobortis facilisis. Vivamus porta eleifend semper.

    Cras eu enim eu nibh pellentesque lobortis. In eget condimentum lorem. Etiam lacus libero, vestibulum dignissim efficitur nec, lacinia ac justo. Vivamus ut leo id neque tincidunt cursus. Proin vel nisl quis ante hendrerit ullamcorper eu a nisi. Nam hendrerit in velit a vehicula. Fusce finibus gravida rutrum.
</p>

<div class="category">

    <div class="grid">
        @foreach (var item in images)
        {
            <div class="grid-item">
                <a href="@item.Replace(".jpg","").Replace("/img/","").Replace(".gif","")"><img src="@item" alt="letterings" /></a>
            </div>
        }
    </div>

</div>