﻿
.footer {
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
  font-size:13px;
  text-align:center;
}

.footer a{
    color:grey;
    margin-right:15px;
}

nav {
    font-size:14px;
    letter-spacing:1.5px;
}

li.active a{
    font-weight:bold;
}
.category
{
    margin-top:20px;
}

.grid-item img{
    width:100%;
}
.grid-item {
    width: 270px;
    margin-bottom:10px;
}

.grid-item--width2 {
    width: 440px;
}

#gallerymodal img{
    width:100%;
}

@media only screen and (min-width : 1224px) {
    #cards img {
        max-height: 230px;
    }
}



#cards .btn {
    background-color: #333;
    border: none;
    width:100%;
}

#cards .btn:hover {
    background-color: black;
    border: none;
}

#details h1{
    font-size:22px;
    margin-top:10px;
}

#details .summary{
    letter-spacing:1px;
    color:#515151;
}

#details a{
    text-decoration:none;
    font-weight:normal;
    color:#333;
}

.social-links{
    margin-bottom:30px;
}
.social-links a {
    font-size: 24px;
    color: #333;
    margin-right:15px;
}

footer.footer {
    background-color: #f8f9fa !important;
    border:none !important;
    margin-top:50px;
}